<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Patients Record System</title>
      <!-- AngularJS -->
      <script src="/js/angular.min.js"></script>
      <script src="/js/angular-ui-router.min.js"></script>
      <script src="/js/angularApp.js"></script>
      <!-- Bootstrap -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="/css/myApp.css" rel="stylesheet">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body ng-app="personnelManagement" ng-controller="MainCtrl">
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#/home">{{appTitle}}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="#/home">Home</a></li>
                  <li><a href="#/about">About</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="container">
         <div class="my-app">
            <ui-view></ui-view>
         </div>
      </div>
      <!-- /.container -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="/js/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/myApp.js"></script>
      <script type="text/ng-template" id="/home.html">
        <div class="row">
        <div class="col-md-6">
        <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Patient's Last Name Here..." ng-model="filter">
                <span class="input-group-btn">
                <a href="#/list/{{filter}}" class="btn btn-default" role="button">Search</a>
                </span>
        </div>
        </div>
        <div id="addRecord" class="col-md-6">
        <a href="#/create" class="btn btn-success" role="button">Add Record</a>
        </div>
        </div>
        <br><br>
        <div class="row">
        <div class="col-md-12">
        <div class="btn-toolbar">
                <div class="btn-group btn-group-sm">
                <a href="#/list/ALL" class="btn btn-default" role="button">All</a>
                <a href="#/list/A" class="btn btn-default" role="button">A</a>
                <a href="#/list/B" class="btn btn-default" role="button">B</a>
                <a href="#/list/C" class="btn btn-default" role="button">C</a>
                <a href="#/list/D" class="btn btn-default" role="button">D</a>
                <a href="#/list/E" class="btn btn-default" role="button">E</a>
                <a href="#/list/F" class="btn btn-default" role="button">F</a>
                <a href="#/list/G" class="btn btn-default" role="button">G</a>
                <a href="#/list/H" class="btn btn-default" role="button">H</a>
                <a href="#/list/I" class="btn btn-default" role="button">I</a>
                <a href="#/list/J" class="btn btn-default" role="button">J</a>
                <a href="#/list/K" class="btn btn-default" role="button">K</a>
                <a href="#/list/L" class="btn btn-default" role="button">L</a>
                <a href="#/list/M" class="btn btn-default" role="button">M</a>
                <a href="#/list/N" class="btn btn-default" role="button">N</a>
                <a href="#/list/O" class="btn btn-default" role="button">O</a>
                <a href="#/list/P" class="btn btn-default" role="button">P</a>
                <a href="#/list/Q" class="btn btn-default" role="button">Q</a>
                <a href="#/list/R" class="btn btn-default" role="button">R</a>
                <a href="#/list/S" class="btn btn-default" role="button">S</a>
                <a href="#/list/T" class="btn btn-default" role="button">T</a>
                <a href="#/list/U" class="btn btn-default" role="button">U</a>
                <a href="#/list/V" class="btn btn-default" role="button">V</a>
                <a href="#/list/W" class="btn btn-default" role="button">W</a>
                <a href="#/list/X" class="btn btn-default" role="button">X</a>
                <a href="#/list/Y" class="btn btn-default" role="button">Y</a>
                <a href="#/list/Z" class="btn btn-default" role="button">Z</a>
                </div>
        </div>
        </div>
        </div>
      </script>
      <script type="text/ng-template" id="/list.html">
        <div class="row">
        <div class="col-md-6">
        <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Patient's Last Name Here..." ng-model="filter">
                <span class="input-group-btn">
                <a href="#/list/{{filter}}" class="btn btn-default" role="button">Search</a>
                </span>
        </div>
        </div>
        <div id="addRecord" class="col-md-6">
        <a href="#/create" class="btn btn-success" role="button">Add Record</a>
        </div>
        </div>
        <br><br>
        <div class="row">
        <div class="col-md-12">
        <div class="btn-toolbar">
                <div class="btn-group btn-group-sm">
                <!-- https://scotch.io/tutorials/use-expressjs-to-get-url-and-post-parameters -->
                <a href="#/list/ALL" class="btn btn-default" role="button">All</a>
                <a href="#/list/A" class="btn btn-default" role="button">A</a>
                <a href="#/list/B" class="btn btn-default" role="button">B</a>
                <a href="#/list/C" class="btn btn-default" role="button">C</a>
                <a href="#/list/D" class="btn btn-default" role="button">D</a>
                <a href="#/list/E" class="btn btn-default" role="button">E</a>
                <a href="#/list/F" class="btn btn-default" role="button">F</a>
                <a href="#/list/G" class="btn btn-default" role="button">G</a>
                <a href="#/list/H" class="btn btn-default" role="button">H</a>
                <a href="#/list/I" class="btn btn-default" role="button">I</a>
                <a href="#/list/J" class="btn btn-default" role="button">J</a>
                <a href="#/list/K" class="btn btn-default" role="button">K</a>
                <a href="#/list/L" class="btn btn-default" role="button">L</a>
                <a href="#/list/M" class="btn btn-default" role="button">M</a>
                <a href="#/list/N" class="btn btn-default" role="button">N</a>
                <a href="#/list/O" class="btn btn-default" role="button">O</a>
                <a href="#/list/P" class="btn btn-default" role="button">P</a>
                <a href="#/list/Q" class="btn btn-default" role="button">Q</a>
                <a href="#/list/R" class="btn btn-default" role="button">R</a>
                <a href="#/list/S" class="btn btn-default" role="button">S</a>
                <a href="#/list/T" class="btn btn-default" role="button">T</a>
                <a href="#/list/U" class="btn btn-default" role="button">U</a>
                <a href="#/list/V" class="btn btn-default" role="button">V</a>
                <a href="#/list/W" class="btn btn-default" role="button">W</a>
                <a href="#/list/X" class="btn btn-default" role="button">X</a>
                <a href="#/list/Y" class="btn btn-default" role="button">Y</a>
                <a href="#/list/Z" class="btn btn-default" role="button">Z</a>
                </div>
        </div>
        </div>
        </div>
        <br>
        <div class="row">
        <div class="col-md-6">
        <div class="list-group">
                <a href="#/view/{{person._id}}" class="list-group-item" ng-repeat="person in personnel | orderBy: 'lastName'">{{person.lastName}}, {{person.firstName}} {{person.middleName}}</a>
        </div>
        </div>
        </div>
      </script>        
      <script type="text/ng-template" id="/about.html">
        <div class="row">
                <div class="col-md-12">
                        <h4>{{pageHeader}}</h4>
                </div>
        </div>  
        <br>           
        <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                        <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yky4QtRX_DI"></iframe>
                        </div> 
                </div>
                <div class="col-md-2">
                </div>
        </div>
      </script>
      <script type="text/ng-template" id="/create.html">
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        <h1>{{pageHeader}}</h1>
        <div ng-show="addSuccess" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Add Complete!</strong>
        </div>
        <form ng-submit="addPatient()">
                <input type="text" class="form-control" placeholder="First Name" ng-model="firstName">
                <input type="text" class="form-control" placeholder="Middle Name" ng-model="middleName">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="lastName">
                <input type="text" class="form-control" placeholder="Birthdate" ng-model="birthdate">
                <input type="text" class="form-control" placeholder="Address" ng-model="address">
                <input type="text" class="form-control" placeholder="Gender" ng-model="gender">
                <input type="text" class="form-control" placeholder="Marital Status" ng-model="maritalStatus">
                <input type="text" class="form-control" placeholder="Occupation" ng-model="occupation">
                <input type="text" class="form-control" placeholder="Contact Number" ng-model="contactNumber">
                <input type="text" class="form-control" placeholder="Referred By" ng-model="referredBy">
                <br>
                <a href="#/home" class="btn btn-sm btn-primary" role="button">Cancel</a>
                <button class="btn btn-sm btn-success" type="submit">Save</button>
        </form>
        </div>
        <div class="col-md-4">
        </div>
        </div>
      </script>
      <script type="text/ng-template" id="/view.html">
        <div class="row">
        <div class="col-md-12">        
                <h1>{{pageHeader}}</h1>
        </div>
        <div class="row">
        <div class="col-md-6">
        <div ng-show="updateSuccess" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Patient Information Updated.</strong>
        </div>
        <div ng-show="deleteSuccess" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Patient Information Deleted.</strong>
        </div>
        <input type="text" class="form-control" placeholder={{person.firstName}} ng-model="person.firstName">
        <input type="text" class="form-control" placeholder={{person.middleName}} ng-model="person.middleName">
        <input type="text" class="form-control" placeholder={{person.lastName}} ng-model="person.lastName">
        <input type="text" class="form-control" placeholder={{person.address}} ng-model="person.address">
        <input type="text" class="form-control" placeholder={{person.birthdate}} ng-model="person.birthdate">
        <input type="text" class="form-control" placeholder={{person.gender}} ng-model="person.gender">
        <input type="text" class="form-control" placeholder={{person.maritalStatus}} ng-model="person.maritalStatus">
        <input type="text" class="form-control" placeholder={{person.occupation}} ng-model="person.occupation">
        <input type="text" class="form-control" placeholder={{person.contactNumber}} ng-model="person.contactNumber">
        <input type="text" class="form-control" placeholder={{person.referredBy}} ng-model="person.referredBy">
        
        <br>
        <a href="#/view/{{person._id}}/record" class="glyphicon glyphicon-user" aria-hidden="true"><span class="glyphicon-class">View Record Details</span></a>
    
        <br><br>
        <a href="#/home" class="btn btn-sm btn-primary" role="button">Return</a>
        <button ng-click="updatePerson(person)" type="button" class="btn btn-sm btn-warning">Update</button>
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Record</h4>
                </div>
                <div class="modal-body">
                        <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                        <button ng-click="deletePerson(person)" type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Yes, delete the record</button>
                </form>
                </div>
                </div>
                </div>
        </div>
        </div>
        <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non faucibus enim. Cras at sodales quam. Suspendisse vulputate quis tellus id dignissim. Sed suscipit sed elit ac laoreet. Donec vitae enim ligula. Mauris laoreet ultrices tortor sed tempor. Aliquam mattis ante mauris. Praesent congue, erat ut fringilla placerat, lacus erat consequat nisl, nec pellentesque erat sem quis diam.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non faucibus enim. Cras at sodales quam. Suspendisse vulputate quis tellus id dignissim. Sed suscipit sed elit ac laoreet. Donec vitae enim ligula. Mauris laoreet ultrices tortor sed tempor. Aliquam mattis ante mauris. Praesent congue, erat ut fringilla placerat, lacus erat consequat nisl, nec pellentesque erat sem quis diam.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non faucibus enim. Cras at sodales quam. Suspendisse vulputate quis tellus id dignissim. Sed suscipit sed elit ac laoreet. Donec vitae enim ligula. Mauris laoreet ultrices tortor sed tempor. Aliquam mattis ante mauris. Praesent congue, erat ut fringilla placerat, lacus erat consequat nisl, nec pellentesque erat sem quis diam.
                </p>
        </div>
        </div>
      </script>
      <script type="text/ng-template" id="/record.html">
        <div class="row">
        <div class="col-md-12">        
                <h1>{{pageHeader}}</h1>
        </div>
        <form ng-submit="addRecord()">
                <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Date" ng-model="date">
                        <input type="text" class="form-control" placeholder="Name Of Lab" ng-model="nameOfLab">
                        <input type="text" class="form-control" placeholder="Weight" ng-model="weight">
                        <input type="text" class="form-control" placeholder="BP" ng-model="bp">
                        <input type="text" class="form-control" placeholder="HR" ng-model="hr">
                        <input type="text" class="form-control" placeholder="Hemoglobin" ng-model="hemoglobin">
                        <input type="text" class="form-control" placeholder="Hematocrift" ng-model="hematocrift">
                        <input type="text" class="form-control" placeholder="RBC" ng-model="rbc">
                        <input type="text" class="form-control" placeholder="WBC" ng-model="wbc">
                        <input type="text" class="form-control" placeholder="Neutrophils" ng-model="neutrophils">
                 </div>
                 <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Lymphocytes Monocytes" ng-model="lymphocytesMonocytes">
                        <input type="text" class="form-control" placeholder="Basophils" ng-model="basophils">
                        <input type="text" class="form-control" placeholder="Eosinophils" ng-model="eosinophils">
                        <input type="text" class="form-control" placeholder="FBS" ng-model="fbs">
                        <input type="text" class="form-control" placeholder="RBS" ng-model="rbs">
                        <input type="text" class="form-control" placeholder="HBA1C" ng-model="hba1c">
                        <input type="text" class="form-control" placeholder="Bun" ng-model="bun">
                        <input type="text" class="form-control" placeholder="Creatinine" ng-model="creatinine">
                        <input type="text" class="form-control" placeholder="1/Scr" ng-model="oneScr">
                        <input type="text" class="form-control" placeholder="eGFR" ng-model="egfr">
                 </div>
                 <div class="col-md-3">                        
                        <input type="text" class="form-control" placeholder="Na" ng-model="na">
                        <input type="text" class="form-control" placeholder="K" ng-model="k">
                        <input type="text" class="form-control" placeholder="Cl" ng-model="cl">
                        <input type="text" class="form-control" placeholder="Albumin" ng-model="albumin">
                        <input type="text" class="form-control" placeholder="Globulin" ng-model="globulin">
                        <input type="text" class="form-control" placeholder="Uric Acid" ng-model="uricAcid">
                        <input type="text" class="form-control" placeholder="Total Cholesterol Triglyceride" ng-model="totalCholesterolTriglyceride">
                        <input type="text" class="form-control" placeholder="HDL" ng-model="hdl">
                        <input type="text" class="form-control" placeholder="LDL" ng-model="ldl">
                        <input type="text" class="form-control" placeholder="PSA" ng-model="psa">                
                 </div>
                 <div class="col-md-3">                        
                        <input type="text" class="form-control" placeholder="SGOT" ng-model="sgot">              
                 </div>      
                 <div class="col-md-12">                        
                 <br>
                 <button class="btn btn-sm btn-success" type="submit">Add</button>
                 </div>

        </form>
        <br>
        <div class="row marketing">
        <div class="col-md-4" ng-repeat="record in person.records">
                <h4>Date: <span style="font-style: italic;">{{record.date}}</span></h4>
                <h4>Name Of Lab: <span style="font-style: italic;">{{record.nameOfLab}}</span></h4>
                <h4>Weight: <span style="font-style: italic;">{{record.weight}}</span></h4>
                <h4>BP: <span style="font-style: italic;">{{record.bp}}</span></h4>
                <h4>HR: <span style="font-style: italic;">{{record.hr}}</span></h4>
                <h4>Hemoglobin: <span style="font-style: italic;">{{record.hemoglobin}}</span></h4>
                <h4>Hematocrift: <span style="font-style: italic;">{{record.hematocrift}}</span></h4>
                <h4>RBC: <span style="font-style: italic;">{{record.rbc}}</span></h4>
                <h4>WBC: <span style="font-style: italic;">{{record.wbc}}</span></h4>
                <h4>Neutrophils: <span style="font-style: italic;">{{record.neutrophils}}</span></h4>
                <h4>Lymphocytes Monocytes: <span style="font-style: italic;">{{record.lymphocytesMonocytes}}</span></h4>
                <h4>Basophils: <span style="font-style: italic;">{{record.basophils}}</span></h4>
                <h4>Eosinophils: <span style="font-style: italic;">{{record.eosinophils}}</span></h4>
                <h4>FBS: <span style="font-style: italic;">{{record.fbs}}</span></h4>
                <h4>RBS: <span style="font-style: italic;">{{record.rbs}}</span></h4>
                <h4>HBA1C: <span style="font-style: italic;">{{record.hba1c}}</span></h4>
                <h4>Bun: <span style="font-style: italic;">{{record.bun}}</span></h4>
                <h4>Creatinine: <span style="font-style: italic;">{{record.creatinine}}</span></h4>
                <h4>1/Scr: <span style="font-style: italic;">{{record.oneScr}}</span></h4>
                <h4>eGFR: <span style="font-style: italic;">{{record.egfr}}</span></h4>
                <h4>Na: <span style="font-style: italic;">{{record.na}}</span></h4>
                <h4>K: <span style="font-style: italic;">{{record.k}}</span></h4>
                <h4>Cl: <span style="font-style: italic;">{{record.cl}}</span></h4>
                <h4>Albumin: <span style="font-style: italic;">{{record.albumin}}</span></h4>
                <h4>Globulin: <span style="font-style: italic;">{{record.globulin}}</span></h4>
                <h4>Uric Acid: <span style="font-style: italic;">{{record.uricAcid}}</span></h4>
                <h4>Total Cholesterol Triglyceride: <span style="font-style: italic;">{{record.totalCholesterolTriglyceride}}</span></h4>
                <h4>HDL: <span style="font-style: italic;">{{record.hdl}}</span></h4>
                <h4>LDL: <span style="font-style: italic;">{{record.ldl}}</span></h4>
                <h4>PSA: <span style="font-style: italic;">{{record.psa}}</span></h4>     
                <h4>SGOT: <span style="font-style: italic;">{{record.sgot}}</span></h4> 
                <button ng-click="deleteRecord(record)" type="button" class="btn btn-sm btn-danger">Delete the record</button> 
        </div>
        </div>
      </script>      
   </body>
</html>
